name: Test
on:
  pull_request:
    branches:
      - main

jobs:
  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to branch
        uses: actions/checkout@v2

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.12
  
  eslint:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest, macos-11, ubuntu-18.04, windows-2022, windows-2016]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.5.0
        with:
          node-version: 14

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2.1.7
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn
        working-directory: test-app

      - name: Run ESLint on all files
        uses: ./
        with:
          config_path: "test-app/package.json"
          extensions: "ts,tsx"
          extra_args: "--max-warnings=0"
          all_files: "true"

      - name: Run ESLint on changed files
        uses: ./
        with:
          config_path: "test-app/package.json"
          extensions: "ts,tsx"
          extra_args: "--max-warnings=0"

      - name: Run ESLint on changed files with .eslintignore
        uses: ./
        with:
          config_path: "test-app/package.json"
          extensions: "ts,tsx"
          extra_args: "--max-warnings=0"
          ignore_path: "test-app/.eslintignore"
          
      
      - name: Run ESLint on changed files from a sub directory
        uses: ./
        with:
          config_path: "package.json"
          extensions: "ts,tsx"
          extra_args: "--max-warnings=0"
          path: "test-app"
      
