name: Test
on:
  pull_request:
    branches:
      - main

jobs:
  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: shellcheck
        uses: reviewdog/action-shellcheck@5ebd09ddbe2ebb471646ce234c6c8dd18663ca7c # v1.30.0

  lint:
    name: Run Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token

      - name: Setup Node.js 20.x
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.x
          cache: yarn
          cache-dependency-path: test-app/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: test-app

      - name: Run Stylelint
        run: yarn stylelint
        working-directory: test-app
      
      - name: Run ESLint for a nested project with changed files and .eslintignore
        uses: ./
        with:
          path: "test-app"
          config_path: "eslint.config.mjs"
          file_extensions: |
            **/*.ts
            **/*.tsx
          extra_args: "--max-warnings=0"
          ignore_patterns: "src/reportWebVitals.ts"
          escape_paths: false

      - name: Fix Lint Errors
        if: failure()
        run: yarn stylelint:fix
        working-directory: test-app

      - name: Fix ESLint errors for a nested project with changed files and .eslintignore
        if: failure()
        uses: ./
        with:
          path: "test-app"
          config_path: "eslint.config.mjs"
          file_extensions: |
            **/*.ts
            **/*.tsx
          escape_paths: false
          extra_args: "--fix"
          skip_annotations: true
          ignore_patterns: "src/reportWebVitals.ts"

      - name: Verify Changed files
        if: failure()
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20.0.4
        id: verify-changed-files
        with:
          files: |
            **/*.{ts,tsx}

      - name: Commit outstanding changes
        if: failure() && steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add ${{ steps.verify-changed-files.outputs.changed_files }}
          git commit -m "lint fixes."

      - name: Push changes
        if: failure() && steps.verify-changed-files.outputs.files_changed == 'true'
        uses: ad-m/github-push-action@d91a481090679876dfc4178fef17f286781251df # v0.8.0
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          branch: ${{ github.head_ref }}

  
  eslint-changed-files:
    runs-on: ${{ matrix.platform }}
    needs:
      - lint
    strategy:
      fail-fast: false
      matrix:
        platform: 
          - ubuntu-latest
          # - windows-latest
          - macos-latest
        fetch-depth: [0, 1]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: ${{ matrix.fetch-depth }}

      - name: Setup Node.js 20.x
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.x
          cache: yarn
          cache-dependency-path: test-app/yarn.lock

      - name: Install dependencies
        run: yarn
        working-directory: test-app

      - name: Run ESLint on changed files
        uses: ./
        with:
          path: "test-app"
          config_path: "eslint.config.mjs"
          file_extensions: |
            **/*.ts
            **/*.tsx
          escape_paths: false
          extra_args: "--max-warnings=0"
          ignore_patterns: "src/reportWebVitals.ts"

      - name: Run ESLint on all files
        uses: ./
        with:
          path: "test-app"
          config_path: "eslint.config.mjs"
          file_extensions: |
            **/*.ts
            **/*.tsx
          extra_args: "--max-warnings=0"
          all_files: true

      - name: Run ESLint on all files without a config_path on all files
        uses: ./
        with:
          path: "test-app"
          file_extensions: |
            **/*.ts
            **/*.tsx
          extra_args: "--max-warnings=0"
          all_files: true
